.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: -1; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url('../Images/bg.png');
  }
  
  .content {
    position: relative;
    /* z-index: 1; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 0; /* Remove margin from the top */
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
  }
  
  .login-header {
    background-color: red;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin: 0; /* Remove margin */
  }

  .test {
    background-color: #f6f6f6;
  }
  
  